{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Users{% endblock %}
{% block content %}

    <form method="get" class="form-horizontal">
        {{ form|bootstrap }}
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>

    {% for user in object_list %}
        <h4>{{ user.username }}
            <a class="btn-info" href="{% url 'profile' user.id %}">View Profile</a>
        </h4>
    {% endfor %}


{% endblock %}
