{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% block title %}Log in{% endblock %}

{% block content %}
    <div class="well bs-component">
    <form action="{%url 'login'%}" method="post" class="form-horizontal" >
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-success" type="submit">Log in</button>
                <a href='{% url "register" %}' class="btn btn-warning">Register</a>
                <input type="hidden" name="next" value="{{ next }}" />
                <a href="{% url 'authorize' %}">Log in with google</a>

            </div>
        </div>
    </form>
    </div>


{% endblock %}




