{% extends 'base.html' %}
{% load bootstrap %}
{% load i18n %}
{% load socialaccount %}
{% block title %}Log in{% endblock %}

{% block content %}
     {% get_providers as socialaccount_providers %}

    <div class="well bs-component">
    <form action="{%url 'login'%}" method="post" class="form-horizontal" >
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-success" type="submit">Log in</button>
                <a href='{% url "register" %}' class="btn btn-warning">Register</a>
                <a class="btn btn-primary" style="width: 220px; float: right;" href="{% provider_login_url 'google' %}">Sign Up with google</a>
            </div>
        </div>
    </form>
    </div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}


{% endblock %}




