{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}


    {% if user.photo %}
        <img src='{{ user.photo.url }}' class='img-responsive' width="300px" height="300px">
    {% endif %}


    <h3>Username : {{ user.username }}{%  if user in friends %} - <b class="text-primary"> friend</b>
        <a href="{% url 'remove' user.id %}" class="btn-danger">Delete</a></h3>
    {% endif %}


    {% if user.first_name %}
        <h4>First name : {{ user.first_name }}</h4>
    {% endif %}

    {% if user.last_name %}
        <h4>Last name : {{ user.last_name }}</h4>
    {% endif %}

    {% if user.email %}
        <h4>Email : {{ user.email }}</h4>
    {% endif %}

    {% if user.phone_number %}
        <h4>Telephone : {{ user.phone_number }}</h4>
    {% endif %}

    {% if user.city %}
        <h4>City from : {{ user.city }}</h4>
    {% endif %}

    {% if user.date_joined %}
        <h4>On site since : {{ user.date_joined }}</h4>
    {% endif %}

    {% if object == request.user %}
        <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-success">Edit Profile</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if object != request.user %}

            {% if user not in friends and user != request.user and not status  %}
                <a href="{% url 'send_request' user.id %}" class="btn btn-warning">Add to friends</a>
              {% endif %}
            {% if status == 'receive' %}
                <h4 class="text-success">{{ user.username }} send you friend request
                    <a href="{% url 'remove' user.id %}" class="btn-info">Delete</a>
                    <a href="{% url 'add_to_friend' user.id %}" class="btn-warning">Confirm</a> <br>
                </h4>

            {% elif status == 'send' %}
                <h4 class="text-danger">You send friend request</h4>

            {% endif %}

        {% endif %}
    {% endif %}


    <a class="btn btn-info" href="{% url 'all_users' %}">Go Back</a>

{% endblock content %}